<div class="container">
  <h1>{{title$ | async}}</h1>
  <main>
    <div id="schedule-container" class="schedule-container">
      @if(schedulesData$ | async; as schedulesData) {
      @if(schedulesData.length > 0) {
      @for(element of schedulesData; track element) {
      <div class="lesson">
        <strong class="name">{{element.name}}</strong>
        <div class="teacher">
          @for(t of element.teacher.split(','); track t) {
          <div>{{t}}</div>
          }
        </div>
        <div class="group">@if(element.group.trim().length > 0){
          <strong>{{element.group}}</strong> }
        </div>
        <div class="room">{{element.room.indexOf('@') > -1 ? 'zajęcia zdalne' : element.room}}</div>
        <div class="hours">{{element.hours}}</div>
      </div>
      }
      }
      @else {
      <h2>Brak zajęć</h2>
      }
      }
    </div>
    <div class="screen-container">
      <ng-container *ngIf="screensData$ | async as screensData">
        <img *ngIf="screensData.isImage"
             [src]="screensData.path">
        <video *ngIf="!screensData.isImage"
               autoplay
               controls
               [muted]="'muted'"
               loop>
          <source [src]="screensData.path"
                  type="video/mp4">
        </video>
      </ng-container>
    </div>
  </main>
  <div class="footer-wrapper">
    <img src="assets/rm4.png">
    <img src="assets/logo-uczelni.png">
    <img src="assets/logo-uczelnia-badawcza.png">
    <div class="qr-wrapper">
      <img src="assets/frame.png">
    </div>
  </div>
</div>