.container {
  display: flex;
  flex-direction: row;
  height: 100vh;

  .side-wrapper {
    width: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;

    img {
      width: 8rem;
    }

    .qr-wrapper {
      flex-grow: 1;
      display: flex;
      align-items: end;
    }
  }

  .content-wrapper {
    display: flex;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    width: calc(100vw - 20rem);
    gap: 2rem;

    .schedule-container {
      width: 100%;
      height: 50vh;

      h1 {
        text-align: center;
        color: rgb(251, 186, 0);
        margin: 0.5rem;
        height: 2rem;
      }

      table,
      h3 {
        flex-grow: 1;
      }

      table {
        margin-top: 0.5rem;
        height: calc(50vh - 3.5rem);
        overflow-y: scroll;
        display: block;
        scroll-behavior: smooth;
        -ms-overflow-style: none;
        scrollbar-width: none;
      }

      table::-webkit-scrollbar {
        display: none;
      }

      h3 {
        color: white;
        text-align: center;
      }
    }

    .screen-container {
      display: flex;
      width: 100%;
      justify-content: center;

      img,
      video {
        height: 45vh;
      }
    }
  }
}