<div >
  <div class="container">
    <div *ngIf="schedulesData$ | async as schedulesData">
      <h1>{{schedulesData.name}}</h1>
      <table *ngIf="schedulesData.items.length > 0">
        <thead>
          <tr>
            <th>Godziny</th>
            <th>Nazwa przedmiotu</th>
            <th>Prowadzący</th>
            <th>Sala</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of schedulesData.items">
            <td>{{item.hours}}</td>
            <td>{{item.name}}</td>
            <td>{{item.teacher}}</td>
            <td>{{item.room}}</td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="schedulesData.items.length === 0">
        <h3>Brak zajęć</h3>
      </div>
    </div>
    <ng-container *ngIf="screensData$ | async as screensData">
      <img *ngIf="screensData.isImage" [src]="screensData.path"> 
      <video *ngIf="!screensData.isImage" autoplay controls [muted]="'muted'" loop>
        <source [src]="screensData.path" type="video/mp4">
      </video>
    </ng-container>
  </div>
</div>
