.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: space-between;

  h1 {
    text-align: center;
    color: rgb(251, 186, 0);
    margin: 1vh;
    height: 6vh;
    line-height: 45px;
  }

  main {
    display: flex;
    height: 100%;
    font-size: 25px;
    overflow: hidden;

    .schedule-container {
      width: 30vw;
      height: 78vh;
      display: flex;
      align-items: center;
      flex-direction: column;
      animation-name: scroll;
      animation-duration: var(--animation-duration);
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      position: relative;

      h2 {
        color: white;
        font-size: 40px;
      }

      .lesson {
        margin: 10px 10px 0 10px;
        border: 6px solid rgb(251, 186, 0);
        border-radius: 25px;
        padding: 15px;
        background-color: white;
        display: grid;
        gap: 20px;
        line-height: 30px;
        width: 90%;

        grid-template-areas:
          "name name name"
          "hours room room"
          "teachers teachers group";

        .hours {
          grid-area: hours;
          text-align: left;
        }

        .name {
          grid-area: name;
          text-align: center;
        }

        .teachers {
          grid-area: teachers;
          text-align: left;
        }

        .room {
          grid-area: room;
          text-align: right;
        }

        .group {
          grid-area: group;
          text-align: right;
        }
      }
    }

    .screen-container {
      height: 78vh;
      width: 70vw;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        height: 100%;
        max-width: 100%;
      }

      video {
        height: 100%;
        max-width: 100%;
      }
    }
  }

  .footer-wrapper {
    width: 100%;
    background-color: white;
    display: flex;
    height: 13.5vh;
    border-top: solid 0.5vh rgb(251, 186, 0);
    justify-content: space-around;

    img {
      height: 10vh;
      margin-top: auto;
      margin-bottom: auto;
    }

    .qr-wrapper {
      height: 100%;
      display: flex;
      align-items: end;
    }
  }
}
