<div class="container">
  <div *ngIf="schedulesData$ | async as schedulesData" class="schedule">
    <h1>{{schedulesData.name}}</h1>
    <div class="schedule-container">
      <div class="department-logo-container">
        <img src="../assets/rm4.png">
      </div>
      <table *ngIf="schedulesData.items.length > 0">
        <thead>
          <tr>
            <th>Godziny</th>
            <th>Nazwa przedmiotu</th>
            <th>Prowadzący</th>
            <th>Sala</th>
            <th>Sekcja</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of schedulesData.items">
            <td>{{item.hours}}</td>
            <td>{{item.name}}</td>
            <td>{{item.teacher}}</td>
            <td>{{item.room}}</td>
            <td>{{item.group}}</td>
          </tr>
        </tbody>
      </table>
      <h3 *ngIf="schedulesData.items.length === 0">Brak zajęć</h3>
      <div class="university-logo-container">
        <img src="../assets/logo-uczelni-770.png">
      </div>
    </div>
  </div>
  <div class="screen-container">
    <div class="side-wrapper"></div>
    <div class="screen-wrapper">      
      <ng-container *ngIf="screensData$ | async as screensData">
      <img *ngIf="screensData.isImage" [src]="screensData.path">
      <video *ngIf="!screensData.isImage" autoplay controls [muted]="'muted'" loop>
        <source [src]="screensData.path" type="video/mp4">
      </video>
    </ng-container></div>
    <div class="side-wrapper">
      <img src="../assets/frame.png">
    </div>
  </div>
</div>