body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #003c7d;

  --mat-table-background-color: #003c7d;
  --mat-table-row-item-outline-color: white;
  --mat-table-row-item-label-text-color: white;
  --mat-table-header-headline-color: white;
  --mat-table-row-item-label-text-size: 24px;
  --mat-table-header-headline-size: 24px;
  --mat-table-row-item-label-text-line-height: 30px;
}
html,
body {
  height: 100vh;
  --scroll-limit: 0;
  --animation-duration: 10s;
  width: 100vw;
  overflow: hidden;
}

.mat-typography h1 {
  font-size: 45px;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(var(--scroll-limit));
  }
  100% {
    transform: translateY(0);
  }
}
